* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/img/organic-tiles.png);
}

:root {
  /*===== Colors =====*/
  --black-color: #272727;
  --grey-color: #3B3B3B;
  --blue-color: #3E9CC1;
  --dark-color: #000;
  --text-color: #FFFFFF;
  --orange-color: #fe8607;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== Font sizes =====*/
  --type-heading-h1-font-size-mobile: 1.802rem;
  --type-heading-h2-font-size-mobile: 1.602rem;
  --type-heading-h3-font-size-mobile: 1.424rem;
  --type-heading-h4-font-size-mobile: 1.266rem;
}

/* === HEADER === */


header {
  position: relative;
  z-index: 2;
  background: url(/img/organic-tiles.png);
  height: 70px;
  border-bottom: 8px solid #742706;
}

header a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-right: var(--mb-2);
}

header a:hover {
  color: #3E9CC1;
}

.logo {
  font-size: 20px;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.header-inner {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 17px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: interstate, sans-serif;
  text-decoration: none;

}

.mobile-menu {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 28%;
  z-index: 5;
  background-color: #fffcff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border-bottom: 8px solid #742706;
}

.nav-menu {
  display: none;
}

.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
  transition: left;
  margin-top: 40px;
}

.bx {
  color: black;
  font-size: 40px;
  margin-right: var(--mb-2);
}

.bx-loader-circle {
  font-size: 15px;
  margin-right: 0;
}

/* === MAIN === */

main {
  background: url(/img/organic-tiles.png);
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: auto;


}

h1 {
  text-align: center;
  font-family: interstate, sans-serif;
  font-weight: 700;
  padding: 30px;
  padding-top: 4rem;
  font-size: 50px;
  justify-content: center;
  display: flex;

}

img {
  width: 70%;
  height: auto;
  margin-bottom: var(--mb-6);
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #7788991c;
  border-radius: 36px;
}

.video-container {
  position: relative;
  padding-bottom: 60%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frameborder {
  border: 0;
}


h3 {
  margin-top: var(--mb-6);
  margin-bottom: var(--mb-2);
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: var(--type-heading-h2-font-size-mobile);
}

h3:nth-of-type(1) {
  margin-bottom: var(--mb-4);
}

h3:nth-of-type(3) {
  margin-bottom: var(--mb-4);
}

p {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  ;
  padding: 20px;
  line-height: 1.5;
  font-size: 1.2em;
}

main p:nth-of-type(1) {
  margin-top: var(--mb-2);
}





ul {
  padding-left: 20px;
  padding-right: 20px;
}

li {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  list-style-type: none;
  margin-bottom: var(--mb-4);
  line-height: 1.5;
}

section h4 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: var(--type-heading-h3-font-size-mobile);

}

.hide {
  display: none;
}

.show {
  display: block;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--mb-3);
  font-family: poppins, sans-serif;
  border: none;
}

.show1 {
  display: block;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-3);
  background: #642307;
  color: white;
  font-family: poppins, sans-serif;
  text-align: center;
  padding: 10px;
  border: none;
}

.show2 {
  display: block;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-3);
  background: #642307;
  color: white;
  font-family: poppins, sans-serif;
  text-align: center;
  padding: 10px;
  border: none;

}

.nyttig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--mb-4);
}

.nyttig input {
  transform: scale(0.7);
  border: 3px solid #642307;
  font-size: 1.2em;
  margin-top: 1.5rem;
  background: #642307;
  color: white;
  font-family: poppins, sans-serif;
  padding: 10px;
  width: 40%;
}


/* === QUIZZ === */
label {
  color: black;
  padding: 5px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}

article input {
  margin-right: 10px;
  vertical-align: middle;
  transform: scale(1.7);
}

.quizz h3 {
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: start;

}

.quizz {
  transform: scale(0.90);
}

.quizz p {
  padding: 0;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2)
}

.pp {
  font-size: 19px;
  font-family: poppins, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #742706;
  color: white;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  padding: 10px;
}

.rigtigsvar {
  color: limegreen;
  font-size: 25px;
  letter-spacing: 1.3px;
}

.forkertsvar {
  color: red;
  font-size: 25px;

}

.tjekrigtigsvar {
  color: limegreen;
  font-family: poppins, sans-serif;
}

.quizzdiv {
  padding: 10px;
}

.quizz button {
  border: 3px solid #642307;
  font-size: 1.2em;
  margin-top: 1.5rem;
  background: #642307;
  color: white;
  font-family: poppins, sans-serif;
  padding: 10px;
}

/* === FOOTER === */

footer {
  display: grid;
  flex-direction: column;
  background-color: #fffcff;
  font-weight: bold;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot h4 {
  font-size: 12px;
  padding: 10px;
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
}

.foot p {
  padding: 10px;
  font-size: 12px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer img {
  display: none;
}

.some {
  display: flex;
  justify-content: center;
}

.bx-md {

  color: black;
}

.persondata {
  text-align: center;
  padding: 10px;
}

.persondata a {
  color: black;
  font-size: 12px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cop {
  text-align: center;
  font-size: 10px;
  padding: 10px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* === MEDEIA Q === */

@media screen and (min-width: 374px) {
  article input {
    transform: scale(1.9);
  }

}

@media screen and (min-width:568px) {
  img {
    width: 40%;

  }
}

@media screen and (min-width: 768px) {

  .nav-menu {
    display: flex;
    justify-content: space-evenly;
  }

  .bx-menu {
    display: none;
  }




  h3 {
    font-size: 30px;
  }

  .foot {
    flex-direction: row;
    margin-top: var(--mb-2);
  }
}

@media screen and (min-width: 1024px) {}