* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

:root {
  /*===== Colors =====*/
  --black-color: #272727;
  --grey-color: #3B3B3B;
  --blue-color: #3E9CC1;
  --dark-color: #000;
  --text-color: #FFFFFF;
  --orange-color: #fe8607;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

}

/* === HEADER === */


header {
  position: relative;
  z-index: 2;
  background-color: #d0d0d0;
  height: 70px;
  border-bottom: 8px solid #742706;
}

header a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  margin-right: var(--mb-2);
}

header a:hover {
  color: #3E9CC1;
}

.logo {
  font-size: 35px;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.header-inner {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: interstate, sans-serif;
  text-decoration: none;

}

.mobile-menu {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 35%;
  z-index: 5;
  background-color: #d0d0d0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border-bottom: 8px solid #742706;
}

.nav-menu {
  display: none;
}

.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
  transition: left;
  margin-top: 70px;
}

.bx {
  color: black;
  font-size: 40px;
  margin-right: var(--mb-2);
}

.bx-loader-circle {
  font-size: 15px;
  margin-right: 0;
}

/* === MAIN === */

main{
  background-color: rgb(230 230 230);

}

.wrap{
  width: 100%;
  max-width: 900px;
  margin: auto;  

}
h1{
  text-align: center;
  font-family: interstate, sans-serif;
  font-weight: 700;
  padding: 30px;
 
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-size: 65px;
  justify-content: center;
  display: flex;
 
}

img{
  width: 100%;
  height: auto;
}

iframe{
  margin-top: var(--mb-4);
}

.video-container { 
  position: relative;
  padding-bottom: 60%;
  padding-top: 30px;
  height: 0; 
  overflow: hidden; 
}
.video-container iframe, .video-container object, .video-container embed {
   position: absolute;
   top: 0; 
   left: 0; 
   width: 100%;
   height: 100%;
   }
   .frameborder{
     border:0;
   }


   h3 {
  margin-top: var(--mb-6);
  margin-bottom: var(--mb-2);
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 25px;
}
h3:nth-of-type(3){
  margin-bottom: var(--mb-6);
}
p {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;;
  padding: 20px;
  line-height: 1.5;
  font-size: 1.2em;
}
p:nth-of-type(2){
  margin-top: var(--mb-4);
}


ul {
  padding-left: 20px;
  padding-right: 20px;
}

li {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  list-style-type: none;
  margin-bottom: var(--mb-4);
  line-height: 1.5;
}



/* === QUIZZ === */
label {
  color: black;
  padding: 5px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}

input {
  transform: scale(1.9);
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2px;
}

.quizz h3 {
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: start;

}

.quizz {
  transform: scale(0.90);
}

.quizz p {
  padding: 0;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2)
}
.pp{
  font-size: 19px;
  font-family: poppins, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #742706;
  color: white;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  padding: 10px;
}
.rigtigsvar{
  color: limegreen
}
.forkertsvar{
  color: red;
}
.tjekrigtigsvar{
  color: limegreen;
  font-family: poppins, sans-serif;
}

.quizzdiv {
  padding: 10px;
}

.quizz button {
  border: 3px solid #742706;
  font-size: 1.2em;
  margin-top: 1.5rem;
  background: #742706;
  color: white;
  font-family: poppins, sans-serif;
  padding: 10px;
}

/* === FOOTER === */

footer{
	display: grid;
	flex-direction: column;	
	background-color: #7427068a;
	color: white;
	font-weight: bold;
	align-items: center;
}
.foot{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.foot h4{
	margin-top: 10px;
	padding: 10px;
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
}
.foot p{
	padding: 10px;
	font-size: 1.2em;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer img{
	display: none;
}

.some{
	display: flex;
	justify-content: center;
}
.bx-lg{
	padding: 10px;
	color: black;
}

.persondata{
	text-align: center;
	padding: 10px;
}
.persondata a{
	color: black;
	font-size: 1.2em;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cop{
	text-align: center;
	font-size: 12px;
	margin-bottom: 10px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* === MEDEIA Q === */

@media screen and (min-width: 768px) {



  img{
    height: 600px;
    object-fit: cover;
    object-position: center;
  }
  }
  h3{
    font-size: 30px;
  }


@media screen and (min-width: 1024px) {

  .bx-menu{
    display: none;
  }
  .nav-menu{
    display: flex;
    justify-content: space-evenly;
  }

 

}