* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

:root {
  /*===== Colors =====*/
  --black-color: #272727;
  --grey-color: #3B3B3B;
  --blue-color: #3E9CC1;
  --dark-color: #000;
  --text-color: #FFFFFF;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

}

/* === HEADER === */


header {
  position: relative;
  z-index: 2;
  background-color: white;
  height: 70px;
  border-bottom: 8px solid #fe8607;
}

header a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-right: var(--mb-2);
}

header a:hover {
  color: #3E9CC1;
}

.logo {
  font-size: 35px;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.header-inner {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: futura-pt-condensed, sans-serif;
  text-decoration: none;

}

.mobile-menu {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 35%;
  z-index: 5;
  background-color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.nav-menu {
  display: none;
}

.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
  transition: left;
  margin-top: 70px;
}

.bx {
  color: black;
  font-size: 40px;
  margin-right: var(--mb-2);
}

.bx-loader-circle {
  font-size: 15px;
  margin-right: 0;
}

/* === MAIN === */

iframe {
  width: 100%;
  height: 210px;
  display: block;
  margin: 0 auto;
}

h3 {
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-2);
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 23px;
}

p {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  padding: 20px;
  line-height: 1.5;
  font-size: 19px;
}

ul {
  padding-left: 20px;
  padding-right: 20px;
}

li {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  list-style-type: none;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.txtover {
  position: relative
}

.txtover figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-size: 40px;

}

/* === QUIZZ === */
label {
  color: black;
  padding: 5px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
}

input {
  transform: scale(1.6);
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2px;
}

.quizz h3 {
  color: black;
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-size: 23px;
  text-align: start;

}

.quizz {
  transform: scale(0.80);
}

.quizz p {
  padding: 0;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2)
}

.quizzdiv {
  padding: 10px;
}

.quizz button {
  border: 3px solid black;
  font-size: 19px;
  margin-top: 1.5rem;
  background: black;
  color: white;
  font-family: poppins, sans-serif;
  padding: 10px;
}